<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Puppy Creation Machine:</h1>

    <form action="/puppy" method="post">
      <label for="name">Name: <input type="text" name="name" value="name"></label>
      <label for="breed">Breed: <input type="text" name="breed" value="breed"></label>
      <label for="age">Age: <input type="text" name="age" value="age"></label>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
